.img-pfp{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 5px;
    width: 20%;
}

.fixing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem; 
}

.Explan:hover{
    transform: scale(1.5);
        transition: 1.5s;
}